<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <dataConfiguration defaultDatabase="default" />
  <connectionStrings>
    <add name="default" connectionString="Server=WIN2008R2-DEV\SHAREPOINT;Database=Kids_Checkin;Integrated Security=true;;"
      providerName="System.Data.SqlClient" />
    <!--User Id=kidschurch;Password=1nt3gr1ty;User Id=kidschurch;Password=1nt3gr1ty@ENLI;-->
  </connectionStrings>
</configuration>